<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>{% block title %}Karpeles & Assocates{% endblock %}</title>
  {% block css %}
  <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/960.css" />
  <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/text.css" />
  <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/base.css" />
  <link rel="icon" type="image/png" href="/site_media/images/favicon.png" />
  {% endblock %}
  {% block section_css %}{% endblock %}
  {% block page_css %}{% endblock %}
  
  <script type="text/javascript" src="/site_media/scripts/jquery-1.2.3.min.js"></script>
  <script type="text/javascript" src="/site_media/scripts/base.js"></script>
  
</head>
<body>
  <div class="container_16">
    <div class="grid_2 alpha">
      &nbsp;
    </div>
    <div id="header" class="grid_13">
      <div class="grid_6 alpha" id="logo">
	<img src="/site_media/images/logo.png" alt="Karpeles & Associates" />
      </div>
      <div class="grid_7 omega">
	<p>(323) 782-1344</p>
	<p>ejkarpeles@sbcglobal.net</p>
      </div>
    </div>
    <div class="grid_13 prefix_2 alpha" id="header_img">
      <img src="/site_media/images/header.png" alt=" " />
    </div>
    <div class="clear">
      &nbsp;
    </div>
    <div class="grid_2">
      &nbsp;
    </div>
    <div class="grid_13 alpha" id="content">

    <div id="navigation">
      <span>
	<a href="/">Home</a>
      </span>
      <span>
	<a href="/chapter_7/">Chapter 7</a>
      </span>
      <span>
	<a href="/chapter_11/">Chapter 11</a>
      </span>
      <span>
	<a href="/chapter_13/">Chapter 13</a>
      </span>
      <span>
	<a href="/relief_from_stay/">Relief From Stay</a>
      </span>
      <span>
	<a href="/contact/">Contact</a>
      </span>
    </div>

      {% block content %}
      This is the base content
      {% endblock %}
    </div>
    <div class="grid_13 prefix_2 alpha" id="footer_img">
      <img src="/site_media/images/footer.png" alt=" " />
    </div>
    <div class="grid_2">
      &nbsp;
    </div>
    <div id="footer" class="grid_13 alpha">
      <div id="footer_left" class="grid_6 alpha">
	<p>Site Map</p>
	<p>Disclaimer</p>
	<p>&copy; by Karpeles & Associates.  All Rights Reserved.</p>
      </div>
      <div id="footer_right" class="grid_7 omega">
	<p>T: 323.782.1344</p>
	<p>F: 323.782.1975</p>
	<p>ejkarpeles@sbcglobal.net</p>
	<p>8383 Wilshire Blvd. Suite 346</p>
	<p>Beverly Hills, CA 90211</p>
      </div>
    </div>



  </div>
</body>
</html>
